---
import A from "@/components/A.astro";
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";

export const getStaticPaths = (async () => {
	const result = await getCollection("blog");
	const posts = result.filter((acc) => acc.data.draft !== true);
	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const author = await getEntry(post.data.author);
const { Content, remarkPluginFrontmatter } = await render(post);
---

<Layout
	title={`${post.data.title}`}
	description=`Blog Post: ${post.data.title} - ${[post.data.description]}`
>
	<figure>
		<Image
			src={post.data.image}
			alt={post.data.title}
			inferSize
			width={1920}
			height={1080}
			loading="eager"
			class="aspect-auto w-full"
		/>
		<figcaption class="text-center">
			This image comes from <A
				href={post.data.image}
				title={post.data.title}
				target="_blank"
			>
				{post.data.image_source}
			</A>
		</figcaption>
	</figure>
	<h1 class="text-center">
		{post.data.title}
	</h1>
	<a
		href={author.data.social}
		target="_blank"
		title={author.data.name}
		class="flex flex-row items-center justify-center no-underline ~-my-2/4 ~gap-2/4"
	>
		<Image
			src={author.data.image}
			alt={author.data.name}
			inferSize
			loading={"lazy"}
			width={48}
			height={48}
			class="rounded-full ~-my-2/4 ~size-6/12"
		/>
		<p>{author.data.name}</p>
		<small class="text-white/60">{author.data.occupation}</small>
	</a>
	<div class="flex flex-row flex-wrap justify-between ~-mb-2/4">
		<p>Created: <strong>{post.data.created.toDateString()}</strong></p>
		<p>
			Reading Time: <strong>{remarkPluginFrontmatter.minutesRead}</strong>
		</p>
	</div>
	<Content />
</Layout>
