---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection, getEntry } from "astro:content";

let posts = await getCollection("blog");
posts = posts.filter((acc) => acc.data.draft !== true);
---

<Layout
	title="Blog"
	description="The Official Blog for Naparajith, a Software Engineer from India"
>
	<div
		class="flex min-h-[60vh] flex-row flex-wrap place-content-center justify-evenly ~gap-2/4"
	>
		{
			posts.map(async (post) => (
				<a
					href={`/blog/${post.id}`}
					class="flex w-full flex-col justify-evenly rounded-lg border border-border decoration-transparent hover:bg-foreground/10"
				>
					<div class="p-2 ~rounded-xl">
						<Image
							src={post.data.image}
							alt={post.data.title}
							inferSize
							width={1920}
							height={1080}
							decoding={"async"}
							loading={"eager"}
							class="-my-px aspect-auto w-full ~rounded-xl"
							transition:name="image"
						/>
					</div>
					<article class="flex justify-between text-white/60 ~p-2/4">
						<small>{post.data.created.toDateString()}</small>
						<small>{(await getEntry(post.data.author)).data.name}</small>
					</article>
					<article class="flex flex-col ~gap-2/4 ~p-2/4">
						<h3 class="-my-px" transition:name="post-title">
							{post.data.title}
						</h3>
						<small class="-my-px truncate" transition:name="post-description">
							{post.data.description}
						</small>
					</article>
				</a>
			))
		}
		<!-- <h1>Coming Soon!</h1> -->
	</div>
</Layout>
