---
export const prerender = false;

import { GithubProfile } from "@/actions/github-profile";
import A from "@/components/A.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

const github = await GithubProfile();
const learning = [
	"How to read large codebases without getting lost?",
	"How do memory-corruption vulnerabilities work?",
	"Ethical exploitation of web applications",
	"Building a programming language from scratch using LLVM",
	"An in-depth explanation of how the hell a Syscall works",
	"An in-depth explanation of how to build Firefox extensions.",
	"Reading a codebase without getting lost or stuck.",
];

const quotes = await getCollection("quotes");
quotes.sort((a, b) => a.data.author.localeCompare(b.data.author));
const quote = quotes[Math.floor(Math.random() * quotes.length)];

let posts = await getCollection("blog");
posts = posts.filter((acc) => acc.data.draft !== true);
const post = posts[Math.floor(Math.random() * posts.length)];

const author = await getEntry(post.data.author);
---

<Layout
	title="Home"
	description="The personal portfolio of T L Naparajith, a Software Engineer from India."
>
	<h1 class="text-center">{github.name}</h1>
	<article>
		<figure
			class="flex flex-col content-around items-center justify-around ~gap-6/12"
		>
			<span class="-my-px ~size-48/96">
				<Image
					alt={"DrInfinite"}
					class="mx-auto scale-90 rounded-full"
					width={540}
					height={540}
					decoding={"async"}
					loading={"eager"}
					src={github.avatar_url ?? "/favicon.svg"}
				/>
			</span>

			<figcaption class="bg-background text-center ~p-2/4">
				This image comes from my <A href={github.html_url} target="_blank">
					GitHub Profile
				</A>
			</figcaption>
		</figure>
		<p><strong>{github.bio}</strong></p>
	</article>
	<div
		class="flex flex-wrap justify-evenly rounded-full border border-border ~gap-2/4 ~p-2/4"
	>
		<A href="/profile" title="Bio">Profile</A>
		<A href="/quick-view" title="Quick View"> Quick View </A>
		<A href={"https://flowcv.com/resume/mdrssqq018"} target={"_blank"}>
			Resume
		</A>
		<A href="/blog" title="Blog">Blog</A>
		<A href="/quotes-i-like" title="Quotes">Quotes</A>
	</div>
	<main>
		<p>
			This is a portfolio website. The content and views present here are purely
			meant to showcase my work, skills and abilities. They are my own and do
			not reflect the views and positions any organisation or entity I work with
			or have previously worked with. The source code for this site is remotely
			hosted as a repository on GitHub. The site is deployed, hosted and
			distributed using Vercel.
		</p>
		<hr />
		<div>
			<p>
				When I was a kid, I was told a really inspiring quote about learning,
				which goes something like this:
			</p>
			<figure>
				<blockquote
					cite={process.env.NODE_ENV === "development"
						? "http://localhost:4321/"
						: "https://naparajith.in/"}
				>
					From the teacher is learned a quarter, a quarter from the student's
					own intelligence, a quarter from fellow students, and a quarter with
					the passage of time.
				</blockquote>
				<figcaption>
					<cite>
						- <strong class="text-inherit">
							Unknown Sanskrit Shloka
						</strong></cite
					>
				</figcaption>
			</figure>
			<p>
				I intened to make learning my long-term commitment, and that takes a lot
				of support, effort and cooperation. Here are a few things I'm interested
				in getting help on (not an exhaustive list):
			</p>
			<ul>
				{learning.map((concept) => <li>{concept}</li>)}
			</ul>
			<p>
				If you would like to help me out in learning any of these concepts,
				please write to <A
					href="mailto:naparajith@duck.com"
					title="E-Mail Address"
					target="_blank"
				>
					naparajith@duck.com.
				</A>
			</p>
		</div>

		<h3>A random quote that I like</h3>
		<figure class="place-content-center rounded-lg border border-border p-8">
			<blockquote cite={quote.data.cite}>{quote.data.quote}</blockquote>
			<figcaption>
				<cite>
					-{" "}
					<a
						href={quote.data.cite}
						title={`${quote.data.author} - ${quote.data.cite}`}
						target="_blank"
						class="text-inherit no-underline"
					>
						{quote.data.author}
					</a>
				</cite>
			</figcaption>
			<div class="float-end">
				<A href="/quotes-i-like" title="Quotes">more like this</A>
			</div>
		</figure>

		<h3>A random blog post</h3>
		<a
			href={`/blog/${post.id}`}
			class="flex w-full flex-col justify-evenly rounded-lg border border-border decoration-transparent"
		>
			<article class="flex flex-col ~gap-2/4 ~p-2/4">
				<h4 class="-my-px" transition:name="post-title">
					{post.data.title}
				</h4>
				<small class="-my-px line-clamp-2" transition:name="post-description">
					{post.data.description}
				</small>
			</article>
			<article class="flex justify-between text-white/60 ~p-2/4">
				<small>{post.data.created.toDateString()}</small>
				<small>{author.data.name}</small>
			</article>
		</a>
	</main>
</Layout>
