---
/**
 * This website is only meant to showcase the work and and skills of the author,
 * on a professional level. It also has a blog, containing the author's observations
 * and opinions on various topics. The views expressed are the author's own.
 * Copyright (C) 2024  T L Naparajith
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License Version 3 as published
 * by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/agpl-3.0.txt>.
 *
 * Contact me through electronic mail: <naparajith@duck.com>
 */

export const prerender = false;

import A from "@/components/A.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const learning = [
	"How to read large codebases without getting lost?",
	"How do memory-corruption vulnerabilities work?",
	"Ethical exploitation of web applications",
	"Building a programming language from scratch using LLVM",
	"An in-depth explanation of how the hell a Syscall works",
	"An in-depth explanation of how to build Firefox extensions.",
	"Reading a codebase without getting lost or stuck.",
];

const quotes = await getCollection("quotes");
quotes.sort((a, b) => a.data.author.localeCompare(b.data.author));
const quote = quotes[Math.floor(Math.random() * quotes.length)];

// let posts = await getCollection("blog");
// posts = posts.filter((acc) => acc.data.draft !== true);
// const post = posts[Math.floor(Math.random() * posts.length)];

// const author = await getEntry(post.data.author);
---

<Layout
	title="Home"
	description="The personal portfolio of T L Naparajith, a Software Engineer from India."
>
	<h1 class="text-center">Naparajith (Naps) T L</h1>
	<article>
		<figure
			class="flex flex-col content-around items-center justify-around ~gap-6/12"
		>
			<span class="-my-px ~size-48/96">
				<Image
					alt={"DrInfinite"}
					class="mx-auto scale-90 ~rounded-none/xl"
					width={540}
					height={540}
					decoding={"async"}
					loading={"eager"}
					src={"https://avatars.githubusercontent.com/u/74095696?v=4"}
				/>
			</span>

			<figcaption
				class="bg-background text-center font-semibold text-foreground ~p-2/4"
			>
				<span class="italic">This image comes from my</span>
				<A href="https://github.com/DrInfinite" target="_blank">
					GitHub Profile
				</A>
			</figcaption>
		</figure>
		<p>
			<strong>
				A SDET committed to solving problems, I am dedicated to deepening my
				expertise in every technology that drives software excellence.
			</strong>
		</p>
	</article>

	<div
		class="flex flex-wrap justify-evenly border border-border ~gap-2/4 ~rounded-none/xl ~p-2/4"
	>
		<A href="/profile" title="Profile">Profile</A>
		<A href="/quick-view" title="Quick View"> Quick View </A>
		<A href="/contact" title="Contact"> Contact </A>
		<A href="/blog" title="Blog">Blog</A>
		<!-- <A href="/quotes" title="Quotes">Quotes</A> -->
		<A
			href={"https://github.com/DrInfinite"}
			title={`GitHub - DrInfinite`}
			target="_blank"
		>
			GitHub
		</A>
		<A
			href="https://www.linkedin.com/in/naparajith/"
			title="LinkedIn - Naparajith T L"
			target="_blank"
		>
			LinkedIn
		</A>
		<A
			href={"https://bsky.app/profile/naparajith.in"}
			title={`Naparajith | DrInfinite (@naparajith.in)`}
			target="_blank"
		>
			BlueSky
		</A>
	</div>
	<main>
		<p class="text-center">
			<A
				href="https://flowcv.com/resume/mdrssqq018"
				title="Resume"
				target={"_blank"}
			>
				Resume: Download latest version
			</A>
		</p>
		<div class="~space-y-4/8">
			<hr class="my-4 border-t-2 border-t-border" />
			<h2>A random quote that I like</h2>
			<figure
				class="place-content-center border border-border p-4 ~gap-2/4 ~rounded-none/xl"
			>
				<blockquote cite={quote.data.cite}>{quote.data.quote}</blockquote>
				<figcaption>
					<cite>
						-{" "}
						<a
							href={quote.data.cite}
							title={`${quote.data.author} - ${quote.data.cite}`}
							target="_blank"
							class="text-inherit no-underline"
						>
							{quote.data.author}
						</a>
					</cite>
				</figcaption>
				<div class="float-end">
					<A href="/quotes" title="Quotes">more like this</A>
				</div>
			</figure>
			<!-- <h2>A random blog post</h2> -->
			<!-- <a -->
			<!-- 	href={`/blog/${post.id}`} -->
			<!-- 	class="flex w-full flex-col justify-evenly border border-border decoration-transparent ~rounded-none/xl hover:bg-foreground/10" -->
			<!-- > -->
			<!-- 	<article class="flex flex-col ~gap-2/4 ~p-2/4"> -->
			<!-- 		<h4 class="-my-px" transition:name="post-title"> -->
			<!-- 			{post.data.title} -->
			<!-- 		</h4> -->
			<!-- 		<small class="-my-px line-clamp-2" transition:name="post-description"> -->
			<!-- 			{post.data.description} -->
			<!-- 		</small> -->
			<!-- 	</article> -->
			<!-- 	<article -->
			<!-- 		class="flex justify-between bg-gradient-to-br from-[#d83333] to-[#f041ff] bg-clip-text text-transparent ~p-2/4" -->
			<!-- 	> -->
			<!-- 		<small>{post.data.created.toDateString()}</small> -->
			<!-- 		<small>{author.data.name}</small> -->
			<!-- 	</article> -->
			<!-- </a> -->
			<hr class="my-4 border-t-2 border-t-border" />
		</div>
		<div>
			<p>
				When I was a kid, I was told a really inspiring quote about learning,
				which goes something like this:
			</p>
			<figure>
				<blockquote
					cite={process.env.NODE_ENV === "development"
						? "http://localhost:4321/"
						: "https://naparajith.in/"}
				>
					From the teacher is learned a quarter, a quarter from the student's
					own intelligence, a quarter from fellow students, and a quarter with
					the passage of time.
				</blockquote>
				<figcaption>
					<cite> - <strong class="text-inherit"> Unknown </strong></cite>
				</figcaption>
			</figure>
			<p>
				I intened to make learning my long-term commitment, and that takes a lot
				of support, effort and cooperation. Here are a few things I'm interested
				in getting help on (not an exhaustive list):
			</p>
			<ul>
				{learning.map((concept) => <li>{concept}</li>)}
			</ul>
			<p>
				If you would like to help me out in learning any of these concepts or
				would like to provide any feedback, please write to <A
					href="mailto:naparajith@duck.com"
					title="E-Mail Address"
					target="_blank"
				>
					naparajith@duck.com.
				</A> I really appreciate any support provided.
			</p>
		</div>
	</main>
</Layout>
