---
export const prerender = false;

import { GithubProfile } from "@/actions/github-profile";
import { LeetcodeProfile } from "@/actions/leetcode-profile";
import A from "@/components/A.astro";
import Layout from "@/layouts/Layout.astro";

const github = await GithubProfile();
const leetcode = await LeetcodeProfile();
---

<Layout
	title="Quick View"
	description="A collection of Quick Links for my personal website"
>
	<h2>Quick View</h2>
	<h3>Links</h3>
	<ul>
		<li>
			<A
				href="https://flowcv.com/resume/mdrssqq018"
				title="Resume"
				target="_blank"
			>
				Resume
			</A>
		</li>
		<li>
			<A
				href="https://www.linkedin.com/in/naparajith/"
				title="LinkedIn - Naparajith T L"
				target="_blank"
			>
				LinkedIn
			</A>
		</li>
		<li>
			<A
				href={github.html_url}
				title={`GitHub - ${github.login}`}
				target="_blank"
			>
				GitHub
			</A>
		</li>
		<li>
			<A
				href={"https://leetcode.com/u/DrInfinite/"}
				title={`LeetCode - ${leetcode.profile?.realName}`}
				target="_blank"
			>
				LeetCode
			</A>
		</li>
		<li>
			<A href="/" title="Portfolio - Home"> Portfolio </A>
		</li>
		<li>
			<A href="/contact" title="Portfolio - Contact"> Contact </A>
		</li>
	</ul>
	<div>
		<h3>GitHub Stats</h3>
		<ol>
			<li>Repositories: <strong>{github.public_repos}</strong></li>
			<li>Followers: <strong>{github.followers}</strong></li>
			<li>Following: <strong>{github.following}</strong></li>
		</ol>
	</div>
	<div>
		<h3>LeetCode Stats</h3>
		<ol>
			<li>Rank: <strong>{leetcode.profile?.ranking}</strong></li>
			<li>
				Solved: <strong>
					{leetcode.completedCount.total} ({
						leetcode.completedPercentage.total
					})
				</strong>
			</li>
			<li>Rating: <strong>{leetcode.profile?.starRating}</strong></li>
		</ol>
	</div>
</Layout>
