---
export const prerender = false;

import A from "@/components/A.astro";
import GitHub, { github } from "@/components/quick-view/github/GitHub.astro";
import GitHubLoading from "@/components/quick-view/github/GitHubLoading.astro";
import LeetCode, {
	leetcode,
} from "@/components/quick-view/leetcode/LeetCode.astro";
import LeetCodeLoading from "@/components/quick-view/leetcode/LeetCodeLoading.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title="Quick View"
	description="A collection of Quick Links for my personal website"
>
	<h3>Links</h3>
	<div
		class="flex flex-wrap justify-evenly rounded-full border border-border ~gap-2/4 ~p-2/4"
	>
		<!-- <span>
			<A
				href="https://flowcv.com/resume/mdrssqq018"
				title="Resume"
				target="_blank"
			>
				Resume
			</A>
		</span> -->
		<span>
			<A
				href="https://www.linkedin.com/in/naparajith/"
				title="LinkedIn - Naparajith T L"
				target="_blank"
			>
				LinkedIn
			</A>
		</span>
		<span>
			<A
				href={github.html_url}
				title={`GitHub - ${github.login}`}
				target="_blank"
			>
				GitHub
			</A>
		</span>
		<span>
			<A
				href={"https://leetcode.com/u/DrInfinite/"}
				title={`LeetCode - ${leetcode.profile?.realName}`}
				target="_blank"
			>
				LeetCode
			</A>
		</span>
		<span>
			<A href="/" title="Portfolio - Home"> Portfolio </A>
		</span>
		<span>
			<A
				href={"https://bsky.app/profile/naparajith.in"}
				title={`Naparajith | DrInfinite (@naparajith.in)`}
				target="_blank"
			>
				BlueSky
			</A>
		</span>
	</div>

	<!-- <h3>GitHub Stats</h3>
	<div>
		<div
			class="flex flex-wrap justify-evenly rounded-full border border-border ~gap-2/4 ~p-2/4"
		>
			<span>Repositories: <strong>{github.public_repos}</strong></span>
			<span>Followers: <strong>{github.followers}</strong></span>
			<span>Following: <strong>{github.following}</strong></span>
		</div>
	</div> -->

	<!-- <h3>LeetCode Stats</h3>
	<div
		class="flex flex-wrap justify-evenly rounded-full border border-border ~gap-2/4 ~p-2/4"
	>
		<span>Rank: <strong>{leetcode.profile?.ranking}</strong></span>
		<span>
			Solved: <strong>
				{leetcode.completedCount.total} ({leetcode.completedPercentage.total})
			</strong>
		</span>
		<span>Rating: <strong>{leetcode.profile?.starRating}</strong></span>
	</div> -->

	<GitHub server:defer>
		<GitHubLoading slot="fallback" />
	</GitHub>

	<LeetCode server:defer>
		<LeetCodeLoading slot="fallback" />
	</LeetCode>

	<h2>Contact</h2>
	<p>
		Get in touch with me through this form or by using the email
		<A href="mailto:naparajith@duck.com"> naparajith@duck.com</A>
	</p>
</Layout>
