---
import "@/styles/globals.css";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import brainMade from "@/images/brain-made.png";

interface Props {
	title: string;
	description?: string;
}

const policy = await getCollection("policy");

const date = new Date().getFullYear();

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title} | Naparajith</title>

		<ViewTransitions />
	</head>
	<body>
		{
			Astro.url.pathname !== "/" ? (
				<header
					class="my-10 border border-l-0 border-r-0 border-t-0 border-border pb-4"
					transition:persist
				>
					<h2>Naparajith's Personal Site</h2>
					<div class="flex justify-between">
						<span class="flex flex-wrap gap-4">
							<a href="/">Home</a>
							<a href="/bio">About Me</a>
							<a href="/quick-view">Quick View</a>
						</span>
						<button onclick="history.back()">Back</button>
					</div>
				</header>
			) : (
				<div class="mb-20" />
			)
		}
		<slot />
		<footer
			class="mt-10 flex flex-col-reverse items-center justify-center border-t border-border pt-4 md:flex-row md:justify-between"
			transition:persist
		>
			<a
				href="https://brainmade.org/"
				title="The Brainmade Mark"
				target="_blank"
				class="-my-6"
			>
				<Image
					src={brainMade}
					alt={"This site was built without using AI"}
					class="xs:scale-[50%] sm:scale-[60%] md:scale-[80%] lg:scale-[90%] xl:scale-100"
					width={160}
					height={50}
					loading={"lazy"}
				/>
			</a>
			<p>
				Copyright &copy; {date}, Naparajith.
			</p>
			<span class="flex justify-between ~gap-2/4">
				{
					policy.map((policy) => (
						<a
							href={`/policy/${policy.id}`}
							title={policy.data.title}
							data-astro-prefetch="load"
						>
							{policy.data.title}
						</a>
					))
				}
			</span>
		</footer>
	</body>
</html>
