---
import "@/styles/globals.css";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Naparajith</title>
		<meta name="description" content={description} />
		<meta property="og:site_name" content="Naparajith" />
		<meta property="og:title" content=`${title} | Naparajith` />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content="en_IN" />
		<meta property="twitter:title" content=`${title} | Naparajith` />
		<meta property="twitter:description" content={description} />
	</head>
	<body>
		{Astro.url.pathname !== "/" ? <Header /> : <div class="~mb-10/20" />}
		<slot />
		<Footer />
	</body>
</html>
