---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
	const policies = await getCollection("policy");
	return policies.map((policy) => ({
		params: { slug: policy.id },
		props: { policy },
	}));
}) satisfies GetStaticPaths;

const { policy } = Astro.props;
const { Content } = await render(policy);
---

<Layout title={policy.data.title} description={policy.data.description}>
	<h1>{policy.data.title}</h1>
	<div class="-mb-4 flex flex-row flex-wrap justify-between">
		<p>Created: <strong>{policy.data.created.toDateString()}</strong></p>
		<p>Updated: <strong>{policy.data.updated?.toDateString()}</strong></p>
	</div>
	<Content />
</Layout>
